* { box-sizing: border-box; }

body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  font-family: 'Numans', sans-serif;
}

.back {
  position: fixed;
  top: 24px;
  left: 24px;
  font-size: 16px;
  font-family: 'Numans', sans-serif;
  color: #666;
  text-decoration: none;
}

.window-wrap{
  position: relative;
  width: 1400px;
  aspect-ratio: 16 / 9;
}
.sky-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
  height: 75%;
  border-radius: 40px;

  background: linear-gradient(
    180deg,
    #95b5db,  
    #bec2ec, 
    #f2a97e, 
    #f7c58d  
  );

  background-size: 200% 200%;
  background-position: 50% 0%;
  animation: sunsetMove 20s ease-in-out infinite alternate;
}

@keyframes sunsetMove{
  0%   { background-position: 50% 0%; }
  100% { background-position: 50% 100%; }
}

.window-frame{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  z-index: 1;
}

#sound-toggle{
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 45px;
  height: auto;
  cursor: pointer;
  z-index: 10;
  opacity: 0.85;
}
